.create-board {
    width: 270px;
    position: fixed;
    top: 20rem;
    left: 5rem;
    z-index: 15;
    background: lightgrey;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    transform: translateX(-540px);
    opacity: 0;
    visibility: hidden;
}

.create-board.show {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}